<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
    </head>
    <body>
        <h1 class="title">MY_IRC</h1>
        <nav class="room-list">
            <div class="room-name">boulou</div>
            <div class="room-name">boulou2</div>
        </nav>
        <div class="message-list">
            <div class="message not-me">
                <div class="people not-me">Jean-Marc</div>
                <div class="the-message">Hey ! Hoy !</div>
            </div>
        </div>
        <div class="tchat-box">
            
        </div>
    </body>
</html>