<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <link href='https://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
        
    </head>
    <body>
        <div id="banniere">
            <h1 class="title header-font">MY_IRC</h1>
        </div>
        <nav class="room-list">
            <div class="room-name">boulou</div>
            <div class="room-name">boulou2</div>
        </nav>
        <div class="message-list">
            <div class="message not-me">
                <div class="people not-me-text">Jean-Marc</div>
                <div class="the-message">Hey ! Hoy !</div>
            </div>
            <div class="message me">
                <div class="people me-text">Chris</div>
                <div class="the-message">HELLO ! soso</div>
            </div>
            <div class="message me">
                <div class="people me-text">Chris</div>
                <div class="the-message">HELLO ! soso</div>
            </div>
            <div class="message not-me">
                <div class="people not-me-text">Jean-Marc</div>
                <div class="the-message">Hey ! Hoy !</div>
            </div>
            <div class="message me">
                <div class="people me-text">Chris</div>
                <div class="the-message">HELLO ! soso</div>
            </div>
            <div class="message not-me">
                <div class="people not-me-text">Jean-Marc</div>
                <div class="the-message">Hey ! Hoy !</div>
            </div>
            <div class="message not-me">
                <div class="people not-me-text">Jean-Marc</div>
                <div class="the-message">Hey ! Hoy !</div>
            </div>
            <div class="message me">
                <div class="people me-text">Chris</div>
                <div class="the-message">HELLO ! soso</div>
            </div>
        </div>
        <div class="tchat-command">
            <input type="text" class="tchat-box" />
            <button class="submit" id="to-submit"></button>
        </div>
    </body>
</html>